@import '~normalize.css';

h1 {
    text-align: center;
}

.logo {
    width: 100px;
    height: 100px;
    background-image: url('../images/user-image.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
}
